.countdown-timer {
    /* Your container styles here */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
   .value{
    font-size: 60px;
    margin: 5px;
    font-weight: 500;
    color: azure;
   }
  .animate {
    animation: colorChange 1s infinite; /* Add a simple color animation */
  }
  
  @keyframes colorChange {
    from {
      color: #31393C;
      font-size: 58px;
    }
    to {
      color: #ffffff;
      font-size: 60px;
    }
  }